{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <title>Eco CO2</title>
</head>
<body>
  <div class="container-md mt-5">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Eco C02</span>

        <ul class="nav">
          {% if request.path == '/' and responses %}
            <li class="nav-item">
              <a class="nav-link disabled" href="{% url 'table' %}">Tableau</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'graphic' %}">Graphique</a>
            </li>
          {% elif request.path == '/graphic/' and responses %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'table' %}">Tableau</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="{% url 'graphic' %}">Graphique</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link disabled" href="{% url 'table' %}">Tableau</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="{% url 'graphic' %}">Graphique</a>
            </li>
          {% endif %}
        </ul>

        <form class="d-grid gap-2 d-md-flex justify-content-md-end">
          {% if not responses %}
            <button id="fetch-data" class="btn btn-sm btn-outline-success" type="button">
              Charger les données depuis l'API
            </button>
          {% else %}
            <button id="delete-data" class="btn btn-sm btn-outline-danger" type="button">
              Supprimer les données
            </button>
          {% endif %}
        </form>
      </div>

    </nav>

    {% if responses %}
      {% block content %}

      {% endblock %}

      <footer class="footer py-3 mt-5 mb-5">
        <div class="container">
          <div class="col-12">
            <h5 class="text-center">Test Technique - Alexandre Richer</h5>
          </div>
        </div>
      </footer>
    {% endif %}

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  <script src="{% static 'js/main.js'%}"></script>

</body>
</html>