{% extends 'base.html' %}

{% load real_vs_average_values %}

{% block content %}
  <br>

  <div style="width:100%;" class="mt-5">
    <canvas id="graph_co2" data-url="{% url 'display-graphic' %}"></canvas>
  </div>

  <script>
    $(function() {
      var $graph = $("#graph_co2");

      $.ajax({
        url: $graph.data('url'),
        success: function(data) {
          var ctx = $graph[0].getContext("2d");
          var mixedChart = new Chart(ctx, {
            type: 'bar',
            data: {
              datasets: [{
                label: "Valeur d'émission de CO2 réelle",
                data: data.data[0].raw_co2_values,
                backgroundColor: 'rgba(255, 138, 195, 0.8)',
              }, {
                label: "Moyenne horaire d'émission de CO2",
                data: data.data[1].average_co2_values,
                borderColor: 'rgba(255, 255, 0, 0.1)',
                backgroundColor: 'rgba(255,101,80,0.3)',
                type: 'line'
              }],
              labels: data.labels[0]
            },
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero:true
                  }
                }]
              },
              title: {
                display: true,
                text: `Graphique des émissions de CO2 en France le ${data.data[2].day}`
              },
              legend: {
                display: true,
                position: 'bottom'
              }
            }
          });
        }
      })
    });
  </script>
{% endblock %}
