{% extends 'base.html' %}

{% load real_vs_average_values %}

{% block content %}
  <br>
  <table id="myTable" class="table table-striped table-hover mt-5">
    <thead>
      <tr>
        <th scope="col"># ID {{ bonjour }}</th>
        <th scope="col"><i class="fas fa-clock"></i> Date</th>
        <th scope="col"><i class="fas fa-smog"></i> Émission de CO2</th>
        <th scope="col"><i class="fas fa-balance-scale"></i> Moyenne de CO2/Heure</th>
        <th scope="col"><i class="fas fa-compress-arrows-alt"></i> Écart moyen (CO2 réelle et la moyenne de CO2/Heure)</th>
      </tr>
    </thead>
    <tbody>
      {% for response in responses %}
        <tr>
          <th scope="row">{{ response.id }}</th>
          <td>{{ response.datetime|date:'l d-m-Y' }} à {{ response.datetime|date:'H:i' }}</td>
          <td>{{ response.co2_rate }}</td>
          <td>{{ response.average_per_hour.co2_rate_average }}</td>
          <td>{{ response.co2_rate|difference:response.average_per_hour.co2_rate_average }}</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfooter>
      <tr class="table-info">
        <th colspan="1"></th>
        <th colspan="3">La moyenne d'émission de CO2 pour les jours ouvrés est de :
          <b>{% if average_working_day == None %}Aucune valeur{% else %}{{ average_working_day|floatformat }}{% endif %}</b>
        </th>
        <th colspan="1">La moyenne d'émission de CO2 pour les weekends est de :
          <b>{% if average_weekend == None %}Aucune valeur{% else %}{{ average_weekend|floatformat }}{% endif %}</b>
        </th>
      </tr>
    </tfooter>
  </table>
{% endblock %}